name: Go

on:
  workflow_dispatch:
  pull_request:
    branches:
    - master

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: tj-actions/changed-files@v47
      id: go-changes
      with:
        files: |
          cmd/**
          internal/**
          vendor/**
          go.mod
          go.sum

    - uses: actions/cache/restore@v5
      if: steps.go-changes.outputs.any_changed == 'true'
      id: go-cache
      with:
        key: main-gocache
        path: |
          .cache

    - name: Lint
      if: steps.go-changes.outputs.any_changed == 'true'
      run: ./script/lint